@import 'variables.scss';
@import 'tailwindcss';

@theme {
  --color-primary-400: #{$primary-400};
  --color-primary-300: #{$primary-300};
  --color-primary-250: #{$primary-250};
  --color-primary-200: #{$primary-200};
  --color-primary-100: #{$primary-100};

  --color-secondary-300: #{$secondary-300};
  --color-secondary-200: #{$secondary-200};
  --color-secondary-100: #{$secondary-100};

  --color-tertiary-500: #{$tertiary-500};
  --color-tertiary-400: #{$tertiary-400};
  --color-tertiary-300: #{$tertiary-300};
  --color-tertiary-200: #{$tertiary-200};
  --color-tertiary-100: #{$tertiary-100};
}

:root {
  --primary-400: #{$primary-400};
  --primary-300: #{$primary-300};
  --primary-250: #{$primary-250};
  --primary-200: #{$primary-200};
  --primary-100: #{$primary-100};
  --secondary-300: #{$secondary-300};
  --secondary-200: #{$secondary-200};
  --secondary-100: #{$secondary-100};
  --tertiary-300: #{$tertiary-300};
  --tertiary-200: #{$tertiary-200};
  --tertiary-100: #{$tertiary-100};
  --text-lg: #{$text-lg};
  --text-md: #{$text-md};
  --text-sm: #{$text-sm};
  --text-base: #{$text-base};
  --text-xs: #{$text-xs};
  --rounded-full: #{$rounded-full};
  --rounded-base: #{$rounded-base};
  --content-width: #{$content-width};
  --nav-height: #{$nav-height};
  --info-header-height: #{$info-header-height};
  --footer-height: #{$footer-height};
}

body {
  min-height: 100vh;
  background: $tertiary-100;
}

main {
  min-height: 100%;
}

h1 {
  font-size: $text-lg;
}

h2 {
  font-size: $text-md;
}

h3 {
  font-size: $text-sm;
}

p,
span,
textarea,
input {
  font-size: $text-base;
  color: $primary-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
span {
  font-weight: 500;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}
