@import 'variables.scss';

:root {
  --primary-400: #{$primary-400};
  --primary-300: #{$primary-300};
  --primary-200: #{$primary-200};
  --primary-100: #{$primary-100};
  --secondary-300: #{$secondary-300};
  --secondary-200: #{$secondary-200};
  --secondary-100: #{$secondary-100};
  --tertiary-300: #{$tertiary-300};
  --tertiary-200: #{$tertiary-200};
  --tertiary-100: #{$tertiary-100};
  --text-lg: #{$text-lg};
  --text-md: #{$text-md};
  --text-sm: #{$text-sm};
  --text-base: #{$text-base};
  --text-xs: #{$text-xs};
  --rounded-full: #{$rounded-full};
  --rounded-base: #{$rounded-base};
}

body {
  background: $tertiary-100;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

h1 {
  font-size: $text-lg;
}

h2 {
  font-size: $text-md;
}

h3 {
  font-size: $text-sm;
}

p,
span,
textarea,
input {
  font-size: $text-base;
  color: $primary-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
span {
  font-weight: 500;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}
