$primary-400: #131515;
$primary-300: #424847;
$primary-200: #586261;
$primary-100: #828e8c;

$secondary-300: #5b994e;
$secondary-200: #bbdbb4;
$secondary-100: #e8f3e5;

$tertiary-300: #f8de8f;
$tertiary-200: #fcf0cc;
$tertiary-100: #fefdf6;

$text-lg: 3rem;
$text-md: 2.25rem;
$text-sm: 1.5rem;
$text-base: 1rem;

$rounded-full: 999px;
$rounded-base: 1.5rem;
