$nav-height: '72px';
$info-header-height: '72px';
$footer-height: '140px';

$primary-400: #211a12;
$primary-400-rgb: rgb(33, 26, 18);

$primary-300: #424847;
$primary-300-rgb: rgb(66, 72, 71);
$primary-250: #4d5554;
$primary-200: #586261;
$primary-100: #828e8c;

$secondary-300: #5b994e;
$secondary-200: #bbdbb4;
$secondary-200-rgb: rgb(187, 219, 180);
$secondary-100: #e8f3e5;
$secondary-100-rgb: rgb(232, 243, 229);

$tertiary-500: #2f2419;
$tertiary-500-rgb: rgb(47, 36, 25);

$tertiary-400: #4a3827;
$tertiary-300: #644d35;
$tertiary-200: #efe8e1;
$tertiary-100: #f6f2ee;

$text-lg: 3rem;
$text-md: 2rem;
$text-sm: 1.5rem;
$text-base: 1rem;
$text-xs: 0.875rem;

$border-style: 1px solid $primary-400;
$border-style-alt: 1px solid $tertiary-100;

$rounded-full: 9999px;
$rounded-base: 1.5rem;

$content-width: 1280px;
$artboard-width: 1440px;

$media-lg: 1440px;
$media-md: 1280px;
$media-sm: 720px;
