@import 'variables.scss';

.container {
  padding-block: 8rem;
  display: flex;
  justify-content: center;
}

.content {
  width: $content-width;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & > .title {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
  }

  & > .detailsgrid {
    width: 50%;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    column-gap: 4rem;
    row-gap: 4rem;

    & > .detail {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      & p {
        color: $primary-300;
      }
    }
  }
}

@media (max-width: $media-sm) {
  .content > .title {
    width: 100%;
  }
}
