@import 'variables.scss';

.container {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>.contact-form {
    width: calc($content-width / 1.5);
  }
}
