@import 'variables.scss';

.container {
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & > textarea {
        resize: none;
      }

      & > .inputs {
        & > .checkbox-group {
          display: flex;
          flex-direction: column;
          gap: 1rem;

        }

        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type='number'] {
          -moz-appearance: textfield;
        }

        &.grid {
          display: grid;
          grid-template-rows: auto auto;
          grid-auto-flow: column;
          gap: 1rem;
        }

        &.flex {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        & > .forminput {
          background-color: $tertiary-100;
          padding: 12px 1rem;
          border-radius: 100px;

          border: 0px solid;
          font-family: dmSerifDisplay;

          &::placeholder {
            opacity: 0.8;
            font-family: dmSerifDisplay;
          }

          &:focus {
            outline: none;
            box-shadow: none;
            outline: 4px solid;
            outline-color: $secondary-200;
          }
        }
      }

      & > textarea {
        background-color: $tertiary-100;
        padding: 12px 1rem;
        border-radius: 20px;
        border: 0px solid;
        min-height: 200px;
        font-family: dmSerifDisplay;

        &::placeholder {
          opacity: 0.8;
          font-family: dmSerifDisplay;
        }

        &:focus {
          outline: none;
          box-shadow: none;
          outline: 4px solid;
          outline-color: $secondary-200;
        }
      }
    }
  }
}

@media (max-width: $media-sm) {
  .container {
    .content {
      & > .form {
        & > .inputs {
          &.grid {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

.radio-group {
  display: flex;
  gap: 2rem;
}

.input-selection {
  display: flex;
  align-items: center;
  color: $tertiary-100;

  & > input[type='checkbox'], & > input[type='radio'] {
    margin-right: 0.5rem;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid $tertiary-100;
    border-radius: 0.25rem;
    position: relative;
    cursor: pointer;

    &:checked {
      border-color: $tertiary-100;

      &::after {
        content: '';
        position: absolute;
        top: 0.05rem;
        left: 0.25rem;
        width: 0.25rem;
        height: 0.5rem;
        border: solid white;
        border-width: 0 0.2rem 0.2rem 0;
        transform: rotate(45deg);
      }
    }
  }
}
