@import 'variables.scss';

.container {

  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &>.form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &>textarea {
        resize: none;
      }

      &>.inputs {

        &.grid {
          display: grid;
          grid-template-rows: auto auto;
          grid-auto-flow: column;
          gap: 1rem;
        }

        &.flex {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        &>.forminput {
          background-color: $tertiary-100;
          padding: 12px 1rem;
          border-radius: 100px;
          border: 1px solid;
          border-color: $primary-400;
          font-family: dmSerifDisplay;

          &::placeholder {
            opacity: 0.8;
            font-family: dmSerifDisplay;
          }

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }

      &>textarea {
        background-color: $tertiary-100;
        padding: 12px 1rem;
        border-radius: 20px;
        border: 1px solid;
        border-color: $primary-400;
        min-height: 200px;
        font-family: dmSerifDisplay;

        &::placeholder {
          opacity: 0.8;
          font-family: dmSerifDisplay;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

}

@media (max-width: $media-sm) {
  .container {
    padding: 8rem 1rem;
  }

  .form {
    width: 100%;

    &>.formgrid {
      display: flex;
      flex-direction: column;
    }
  }
}
