@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  gap: 4rem;
  width: $content-width;
  justify-content: center;
  align-items: center;

  & > .text {
    width: 50%;
  }

  & > .image {
    width: 560px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-300;
    border-radius: 100%;
    box-shadow: 10px 10px $primary-400;
  }
}

@media (max-width: $media-sm) {
  .content {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0 1rem;

    & > .text {
      width: 100%;
    }

    & > .image {
      width: 320px;
      height: 320px;
    }
  }
}
