@import 'variables.scss';

.container {
  min-height: 140px;
  width: 100%;
  background-color: $tertiary-100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.content {
  width: $content-width;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 1rem;
  & > .inforow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .info {
      display: flex;
      align-items: center;
      gap: 3rem;
      font-size: $text-sm;

      & > .item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
    & .namecopyright {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
  & > .attribution {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    .logo {
      width: 4em; // Set width to match text size
    }
  }
}

@media (max-width: $media-md) {
  .content {
    padding: 1rem 1rem;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    & > .inforow {
      flex-direction: column;
      gap: 2rem;
      align-items: start;

      & > .info {
        flex-direction: column;
        gap: 1rem;
        align-items: start;
      }
      & .namecopyright {
        flex-direction: column;
        align-items: start;
        gap: 0;
      }
    }
  }
}
