@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: $content-width;

  @media (max-width: $media-lg) {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-inline: 1rem;

    @media (max-width: $media-md) {
      grid-template-columns: 1fr;
    }
  }
}

.gallery-item {
  position: relative;
  height: 24rem; // Fixed height
}
