@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  width: $content-width;

  @media (max-width: $media-lg) {
    grid-template-columns: 1fr;
    width: 100%;
    padding-inline: 1rem;
  }
}

.gallery-item {
  position: relative;
  height: 16rem; // Fixed height
}

.gallery-image {
  object-fit: cover;
}
