@import 'variables.scss';

.container {
  background-color: $tertiary-100;
  display: flex;
  justify-content: center;
}

.content {
  width: $content-width;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .info {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: $text-sm;

    & > .item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@media (max-width: $media-sm) {
  .content {
    padding: 1rem 0;
    gap: 1rem;
    justify-content: center;
    & > .info {
      flex-direction: column;
      gap: 1rem;
      align-items: start;
    }
  }
}

@media (max-width: 1075px) {
  .container {
    display: none;
  }
}
