@import 'variables.scss';

.container {
  background: linear-gradient(to right,
      rgba($secondary-100-rgb, 0.95) 35%,
      rgba($secondary-200-rgb, 0.5)),
    url('/nature.webp');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content {
  width: $content-width;
  justify-content: center;
  display: flex;
  padding: 0 1rem;

  &>.left {
    padding-block: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &>.review {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      &>p {
        margin-left: 0.75rem;
        font-size: $text-xs;
      }
    }

    &>.text {
      &>h1 {
        line-height: 1.1;
        text-align: center;
      }

      &>p {
        margin-top: 0.5rem;
        text-align: center;
      }
    }

    &>.cta {
      display: flex;
      gap: 1rem;

      & button {
        width: max-content;
      }
    }
  }

  &>.right {
    display: none;
  }

  @media (min-width: $content-width) {
    justify-content: start;

    &>.left {
      justify-content: start;
      align-items: start;
      width: 50%;
      gap: 1rem;

      &>.text {

        &>h1,
        &>p {
          text-align: left;
        }
      }
    }

    &>.right {
      display: flex;
      align-items: flex-end;
    }
  }
}
