@import 'variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 8rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: $content-width;
}

.contactsection {
  display: flex;
  width: 100%;

  gap: 2rem;

  & > .mapcontainer {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 16px;
    border: none !important;
    &:focus {
      outline: none;
      border: none !important;
    }
  }
}

.titlecenter {
  display: none;
}

@media (max-width: $content-width) {
  .container {
    padding: 8rem 0 0 0;
  }
  .title {
    padding: 0 1rem;
  }
  .titleleft {
    display: none;
  }
  .titlecenter {
    display: block;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    & > .contactsection {
      flex-direction: column;

      & > .mapcontainer {
        height: 500px;
        overflow: hidden;
        border-radius: 0px;
      }
    }
  }
  .form {
    width: 100%;
    max-width: 500px;
  }
}
