@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: $artboard-width;

  @media (min-width: 1024px) and (max-width: $media-lg) {
    width: 1024px;
  }


  & > .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

@media (max-width: $media-sm) {
  .content {
    padding: 0 1rem;
    & > .cards {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media (min-width: $media-sm) and (max-width: $media-lg) {
  .content {
    padding: 0 1rem;
    & > .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: auto;
    }
  }
}
