@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: $content-width;

  &>.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

  }
}
