@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-lg;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 3.75rem;
  width: $content-width;
  align-items: center;

  & > .text {
    align-self: start;
  }
}

@media (max-width: $media-sm) {
  .content {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
