@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-lg;
  padding: 4rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  width: $content-width;

  & > .title-image {
    display: flex;
    gap: 3.75rem;
    align-items: center;
    & > * {
      flex: 1;
    }
  }

  .reverse {
    flex-direction: row-reverse;
  }

  & > .treatment-items {
    display: flex;
    gap: 3.75rem;
    & > * {
      flex: 1;
    }
  }
}

@media (max-width: $media-sm) {
  .container {
    padding: 1rem 0;
  }
  .content {
    & > .title-image {
      flex-direction: column;
    }
    .reverse {
      flex-direction: column;
    }
    & > .treatment-items {
      flex-direction: column;
    }
  }
}

@media (max-width: $content-width) {
  .content {
    padding: 0 1rem;
  }
}

.touch-image-container {
  width: 400px;
  max-width: 100%;
  margin: 0;
  /* om du vill centrera:
  margin-left: auto;
  margin-right: auto;
  */
  margin: auto;
  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 480px) {
    width: 200px;
  }

  /* Se till att själva img fyller containern */
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
