@import 'variables.scss';

.container {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & h1 {
    font-size: $text-sm;
  }

  & > p {
    color: $primary-300;
  }

  & > .title {
    display: flex;
    gap: 0.5rem;
  }
  /* Ny styling för listor */
  ul {
    padding-left: 1.5rem; // lite indrag
    margin: 0.5rem 0;
    list-style-type: disc; // vanliga prickar
    color: $primary-300;
    font-size: 1rem; // något mindre text
    line-height: 1.4; // luftigare
  }

  li {
    margin-bottom: 0.25rem; // lite mellanrum mellan punkter
  }
}

.section-alt {
  background-color: var(--tertiary-200);
}
