@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-lg;
  padding: 4rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  width: $content-width;

  & > .title-image {
    display: flex;
    gap: 3.75rem;
    align-items: center;
    & > * {
      flex: 1;
    }
  }

  .reverse {
    flex-direction: row-reverse;
  }

  & > .treatment-items {
    display: flex;
    gap: 3.75rem;
    & > * {
      flex: 1;
    }
  }
}

@media (max-width: $media-sm) {
  .container {
    padding: 1rem 0;
  }
  .content {
    & > .title-image {
      flex-direction: column;
    }
    .reverse {
      flex-direction: column;
    }
    & > .treatment-items {
      flex-direction: column;
    }
  }
}

@media (max-width: $content-width) {
  .content {
    padding: 0 1rem;
  }
}
