@use 'variables.scss' as *;

.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  width: $content-width;

  display: flex;
  justify-content: center;
  gap: 4rem;
}

.contact-form-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border-radius: 16px;

  padding: 1rem;
}

@media (max-width: $content-width) {
  .contact-form-container {
    background-color: $primary-200;
  }
  @media (max-width: $media-sm) {
    .container {
      & > .content {
        flex-direction: column;
        width: 100%;
        padding: 0rem 1rem;

        & > .text {
          width: 100%;
        }

        & > .contact-form-container {
          background-color: $primary-200;
          width: 100%;
        }
      }
    }
  }
}
