@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: $content-width;
}

@media (max-width: $content-width) {
  .content {
    padding: 0 1rem;
  }
}
